@import 'tailwindcss';

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

body {
  @apply bg-background text-foreground;
}

header {
  h1 {
    @apply text-2xl font-bold;
  }
  p {
    @apply text-muted-foreground;
  }
}

code {
  @apply bg-muted text-muted-foreground px-1 rounded-md;
}

pre {
  @apply bg-muted text-muted-foreground px-4 py-2 rounded-md;
}

a {
  @apply underline underline-offset-2
}

a:hover {
  @apply text-muted-foreground;
}

ol {
  @apply list-decimal list-inside;
}

ul {
  @apply list-disc list-inside ml-2;
}

@layer typography {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }

  article {
    @apply space-y-4;
  }

  blockquote {
    @apply border-l-2 pl-4 italic;
  }
}
